/* Container for the section */
.sec-container {
    width: 100%;
    padding: 20px;
    background-color: #FFFFFF;
    text-align: center;
}

/* Make text responsive */
.sec-container h2 {
    color: #4A00E0;
    font-size: 24px;
}

.sec-container p {
    font-size: 18px;
}
.sec-con-img{
    height: 100px;
    width: 100px;
}

/* Image container */
.menu img {
    width: 80%;
    max-width: 1000px;
    height: auto;
    display: block;
    margin: auto;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .sec-container h2 {
        font-size: 20px;
    }

    .sec-container p {
        font-size: 16px;
    }

    .menu img {
        width: 90%;
    }

    img {
        width: auto;
        max-width: auto;
        height: auto;
    }
}
